.weatherWidget {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
  font-family: var(--font-work-sans);
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--cream);
  width: fit-content;

  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-left: auto;
  }
}