.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  padding-block: 32px;
  font-family: var(--font-geist-sans);
}

/*
   Site top navigation and weather widget
   ========================================================================== */
.weatherWidget {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
  font-family: var(--font-work-sans);
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--cream);
  width: fit-content;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-left: auto;
  }
}

/*
   Site header
   ========================================================================== */

.header {
  column-gap: 32px;
}

/*
   Site main content
   ========================================================================== */

.siteTitle {
  font-family: var(--font-work-sans);
  font-size: clamp(4rem, 6vw, 6.4rem);
  font-weight: 600;
  line-height: 1.1;
}
.main {
}
.mainSection {
  padding-top: 32px;
  width: 100%;
}
.mainSection__main {
}
.mainSection__title {
}
.clubsList {
  margin-top: 24px;
}
.clubsList__item {
  position: relative;
  cursor: pointer;
  transition: background-color .2s ease, color .2s ease;
    background:
    linear-gradient(var(--cream), var(--cream)) top left/6px 1px no-repeat,
    linear-gradient(var(--cream), var(--cream)) top left/1px 6px no-repeat,
    linear-gradient(var(--cream), var(--cream)) top right/6px 1px no-repeat,
    linear-gradient(var(--cream), var(--cream)) top right/1px 6px no-repeat,
    linear-gradient(var(--cream), var(--cream)) bottom left/6px 1px no-repeat,
    linear-gradient(var(--cream), var(--cream)) bottom left/1px 6px no-repeat,
    linear-gradient(var(--cream), var(--cream)) bottom right/6px 1px no-repeat,
    linear-gradient(var(--cream), var(--cream)) bottom right/1px 6px no-repeat;

    &:hover {
      background-color: var(--accent);
      color: var(--dark);

      a {
        background: var(--cream);
        color: var(--dark);

        &:hover {
          background: var(--dark);
          color: var(--cream);
        }
      }
    }
}
.item__inner {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.item__image {
  flex-shrink: 0;
  border-radius: 2px;
  background: #ccc;
}
.item__details {
  flex-grow: 1;
  p {
    font-size: 1.4rem;
  }
}
.item__title {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 16px;
}
.item__area {
}
.item__days {
}
.mainSection__side {
  margin-top: 48px;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: 0;
    padding-left: clamp(32px, 7vw, 64px);
  }
}
.side__title {
  margin-bottom: 24px;
}
/* Search bar */
.searchField {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: 1px solid var(--cream);
  border-radius: 200px;
  padding-inline-start: 16px;
  padding-inline-end: 8px;
  padding-block-start: 12px;
  padding-block-end: 12px;
}
.searchField__icon {
  position: absolute;
  left: 16px;

}
.searchField__input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 30px;
  flex-grow: 1;
}
.searchField__button {
  position: absolute;
  right: 8px;
  border: none;
  color: var(--dark);
  background: var(--accent);
}


.allClubsList {
  margin-top: 24px;
}
.allClubsList__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: 6px;
  padding-block: 6px;
  border-radius: 12px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  cursor: pointer;

  span {
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 8px;
  }

  &:hover {
    background-color: var(--cream);
    color: var(--dark);
  }

  &:not(:first-child) {
    margin-top: 8px;
  }
}
.allClubsList__image {
  border-radius: 6px;
}
.allClubsList__btn {
  margin-left: auto;
  border: none;
  background: var(--accent);
  color: var(--dark);
  border-radius: 6px;
  padding-block: 8px;
  padding-inline: 14px;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}

.noResults {
  font-size: 1.4rem;
  padding: 24px;
  border-radius: 12px;
  background: var(--cream);
  color: var(--dark);
}


/*
   Cta section
   ========================================================================== */
.ctaSection {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap-reverse;
  background: var(--accent);
  padding: clamp(16px, 3vw, 24px);
  margin-block: 100px;
  border-radius: clamp(32px, 4vw, 40px);

}
.ctaSection__main {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-right: 40px;
  }
}
.ctaSection__title {
  color: var(--dark);
  max-width: 488px;
  text-transform: uppercase;
  padding-right: 40px;
  line-height: 1.1;
}
.ctaSection__text {
  margin-top: clamp(6px, 2vw, 16px);
  max-width: 488px;
  color: var(--dark);

}
.ctaSection__btn {
  margin-top: 0;
  max-width: fit-content;
  margin-top: 48px;
  margin-left: auto;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: auto;
    margin-left: 0;
  }
}
.ctaSection__side {
  display: flex;
  margin-bottom: 24px;
  
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-bottom: 0;
  }
}
.ctaSection__image {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    max-height: 416px;
    max-width: 614px;
  }
}


/*
   Site footer
   ========================================================================== */

.footer {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}
