.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  padding-inline: 80px;
  padding-block: 32px;
  font-family: var(--font-geist-sans);
}

/*
   Site top navigation and weather widget
   ========================================================================== */

.siteNav {
}
.weatherWidget {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
  font-family: var(--font-kode-mono);
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--bg-light);
  margin-left: auto;
}

/*
   Site header
   ========================================================================== */

.header {
}

/*
   Site main content
   ========================================================================== */

.siteTitle {
  font-family: var(--font-manrope);
  font-size: clamp(4rem, 6vw, 6.4rem);
  font-weight: 600;
}
.main {
}
.mainSection {
  padding-top: 32px;
}
.mainSection__main {
}
.mainSection__title {
}
.clubsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  margin-top: 100px;
}
.clubsList__item {
  position: relative;
  cursor: pointer;
  transition: background-color .2s ease, color .2s ease;
    background:
    linear-gradient(var(--fg), var(--fg)) top left/6px 1px no-repeat,
    linear-gradient(var(--fg), var(--fg)) top left/1px 6px no-repeat,
    linear-gradient(var(--fg), var(--fg)) top right/6px 1px no-repeat,
    linear-gradient(var(--fg), var(--fg)) top right/1px 6px no-repeat,
    linear-gradient(var(--fg), var(--fg)) bottom left/6px 1px no-repeat,
    linear-gradient(var(--fg), var(--fg)) bottom left/1px 6px no-repeat,
    linear-gradient(var(--fg), var(--fg)) bottom right/6px 1px no-repeat,
    linear-gradient(var(--fg), var(--fg)) bottom right/1px 6px no-repeat;

    &:hover {
      background-color: var(--bg-light);
      color: var(--bg);

      a {
        background: var(--fg);
        color: var(--bg);

        &:hover {
          background: var(--bg);
          color: var(--fg);
        }
      }
    }
}
.item__inner {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.item__image {
  flex-shrink: 0;
  border-radius: 2px;
  background: #ccc;
}
.item__details {
  flex-grow: 1;
  p {
    font-size: 1.4rem;
  }
}
.item__title {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 16px;
}
.item__area {
}
.item__days {
}
.mainSection__side {
  padding-left: 32px;
}
.side__title {
}
.side__input {
  width: 100%;
  padding: 14px 24px;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid var(--fg);
  border-radius: 200px;
  margin-block: 24px 16px;
  background: var(--bg);

  &:focus {
    outline: 1.5px solid var(--fg);
  }
}
.allClubsList {
}
.allClubsList__item {
}


/*
   Cta section
   ========================================================================== */
.ctaSection {
  margin-block: 100px;
  padding: 24px;
  background: var(--bg-light);
  border-radius: 40px;
  align-items: stretch;

}
.ctaSection__main {
  display: flex;
  flex-direction: column;
}
.ctaSection__title {
  color: var(--bg);
  max-width: 488px;
  text-transform: uppercase;
  margin-bottom: 64px;
  line-height: 1.2;
  padding-right: 40px;
}
.ctaSection__btn {
  margin-top: auto;
  max-width: fit-content;
}
.ctaSection__side {
  display: flex;
}
.ctaSection__image {
  border-radius: 16px;
  max-width: 100%;
  height: auto;
  align-self: flex-end;

}


/*
   Site footer
   ========================================================================== */

.footer {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}
