/* HeroSection.module.css */

.heroSection {
  background-color: var(--dark);
  color: var(--cream);
  height: 100%;
  max-width: 100%;
  padding-block: 6.4rem;
  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    padding-block: clamp(6.4rem, 11vw, 11.2rem);
  }
}

.heroSection__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    flex-direction: row;
    gap: 6.4rem;
  }
}
.hero__main {

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
      width: 50%;
  }

  @media only screen and (min-width: 1025px) {
    width: 33.33%;
  }
}
.hero__title {
  margin-bottom: 2rem;
}

.hero__content {
  gap: 2rem;
}

.hero__actions {
  margin-top: 2.4rem;
  gap: clamp(2.4rem, 3vw, 3.2rem);

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    margin-top: auto;
  }
}

.buttons {
  width: 100%;
  gap: 1rem;
  align-items: center;
  flex-wrap: nowrap;

  @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    flex-wrap: wrap;
  }

   a {
    &:hover {
      background: var(--cream);
    }
  }
  button {
    &:last-of-type {
      &:hover {
        background: var(--cream);
        color: var(--dark);
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
      max-width: 215px;
    }
  }
}

.hero__submitButton {
  border: 1px solid var(--cream);
}

.hero__side {
  gap: clamp(2.4rem, 3vw, 3.2rem);
  align-items: start;
  justify-content: end;
  flex-wrap: nowrap;

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
      width: 50%;
  }

  @media only screen and (min-width: 1025px) {
    width: 66.66%;
  }
}

.hero__imageWrapper {
  background-color: #d9d9d9;
  border-radius: 0.5rem;
  overflow: hidden;
  aspect-ratio: 438 / 657;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 438px;
  width: 100%;
}

.hero__imageWrapper--small {
  aspect-ratio: 1 / 1;
  justify-self: end;
  max-width: 328px;
}

.hero__image {
  width: 30.416vw;
  min-width: 280px;
  max-width: 438px;
  height: 63.9vh;
  max-height: 657px;
  height: 100%;
  object-fit: cover;
}

.hero__imagePlaceholder {
  width: 30.416vw;
  min-width: 280px;
  height: 63.9vh;
  max-height: 657px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.hero__placeholderIcon {
  width: 7.5rem;
  height: 7.5rem;
  opacity: 0.6;
}
