.page {
}
.pageNav {
    padding-block: 24px;
    background: var(--dark);
    color: var(--cream);
    align-items: center;
    justify-content: space-between;
    gap: 4px 24px;
}
.pageNav__title {
    position: relative;
    font-size: clamp(1.8rem, 2vw, 2.4rem);
    font-weight: 700;
    line-height: 1.1;

    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
.pageHeader {
    flex-direction: column;
    padding-block: clamp(16px, 6vw, 64px) clamp(48px, 7vw, 64px);
    background: var(--white);
    color: var(--dark);
    border-radius: clamp(12px, 2vw, 16px);
}
.pageHeader__title {
    text-align: center;
    margin-inline: auto;
    margin-bottom: clamp(12px, 2vw, 24px);
}
.pageHeader__description {
    text-align: center;
    margin-inline: auto;
    max-width: 636px;
}
.pageHeader__cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(16px, 2vw, 24px);
    margin-block: 48px 96px;

    @media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
        grid-template-columns: repeat(3, 1fr);        
    }

}
.pageHeader__card {
    width: 100%;
    background: var(--cream);
    color: var(--dark);
    border-radius: 8px;
    padding: 16px;
    
}
.label {
    
}
.cardTitle {
    font-size: clamp(1.8rem, 2vw, 2.4rem);
    font-weight: 700;
    margin-block: 12px 4px;
    
}
.pageHeader__subtitle {
    text-align: center;
    margin-inline: auto;
    max-width: 458px;
    line-height: 1;
    font-weight: 600;
    
}
.pageHeader__socials {
    width: 100%;
    justify-content: center;
    margin-top: clamp(24px, 6vw, 64px);
    gap: clamp(16px, 2vw, 24px);
    
    .socialIcon {
        background: var(--dark);
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        border-radius: 200px;
        display: inline-flex;
        transition: background-color 0.2s ease;

    }
    .socialIcon__fb {
        path {
            fill: var(--cream);
        }
    }
    
}
.pageMain {
    position: relative;
    background: var(--accent);

    section {
        margin-top: clamp(32px, 6vw, 64px);
    }

    &:before {
        position: absolute;
        content: '';
        display: block;
        user-select: none;
        white-space: pre;
        height: 48px;
        width: calc(100% + 160px);
        left: -80px;
        top: -24px;
        z-index: -1;
        background: var(--accent);
        user-select: none;
        pointer-events: none;
    }
}